html {
  color: lavender;
  text-emphasis-color: lavender;
  height: 100%;
  width: 100%;
  display: flex;
  font-size: 16pt;
  justify-content: center;
  background-attachment: fixed;
}
#myVideo {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
img.logo {
  margin-top: 15px;
  left: 20px;
  max-width: 80px;
  position: absolute;
}
img.smash.banner {
  max-width: 720px;
  width: 100%;
  height: auto;
}

div.center {
  position: relative;
  width: 800px;
  border-style: double;
  background-color: rgb(25, 25, 25, 0.5);
  background-size: 100%;
  text-align: center;
  padding-bottom: 30px;
}

h1 {
  background-color: rgb(30, 30, 30, 0.5);
  font-size: 30pt;
  text-align: center;
}

h2,
h3 {
  text-align: center;
  margin: 0px;
  font-size: 25pt;
}

h2 {
  background-color: lightgoldenrodyellow;
}

h3 {
  background-color: lightcyan;
}

div.container {
  display: flex;
  margin-top: 20px;
}

div.left,
div.right {
  margin-right: 40px;
  color: black;
  width: 350px;
}

div.left {
  margin-left: 40px;
  background-color: white;
  align-items: left;
  text-align: left;
}

div.pr, div.tourney {
  height: 350px;
  overflow-y: scroll;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: white;
}

img.icon {
  margin-bottom: -3px;
  width: 20px;
  height: 20px
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: darkred;
}

p.link {
  padding-left: 25px;
  margin-top: 0px;
  margin-bottom: 0px;
}

p.link:hover {
  background-color: lightgoldenrodyellow;
}

.tlink {
  font-size: 25pt;
  text-align: center;
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
}

.tlink:hover {
  background-color: lightcyan;
}