div.background {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    background-position: 40% 45%;
    background-size: 200px 200px;
    transform: rotate(-10deg) scale(1.5);
    background-color: #ffcc00;
}
img.playerChar {
    position: absolute;
    top: -1%;
    left: -3%;
    width: 75%;
    -webkit-filter: drop-shadow(15px 15px 0px #000000);
    filter: drop-shadow(15px 15px 0px #000000);
}
p#rank {
    padding-left: 20px;
}