div.background {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    background-position: 40% 45%;
    background-size: 200px 200px;
    transform: rotate(-10deg) scale(1.5);
    background-color: rgb(14, 31, 12);
    filter: hue-rotate(90deg);
}
img.playerChar {
    -webkit-filter: drop-shadow(15px 15px 0px #000000);
    filter: drop-shadow(15px 15px 0px #000000);
}